body {
	background: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
}

body, textarea, input {
	font-family: 'PT Sans', serif;
	font-size: 16px;
	line-height: 1.3;
}

input:focus,
textarea:focus {
	outline: none !important;
}

h1 {
	font-size: 170%;
	font-weight: bold;
	/*font-weight: normal;*/
	text-align: center;
	/*margin-top: 10px;
	margin-bottom: 10px;*/
	margin: 10px auto;
	position: relative;
	/*background-color: red;*/
	width: 178px;
	color: #49423d;
	/*color: #665c55;*/
}

span.star {
	position: absolute;
	top: -17px;
	left: -2px;
	font-size: 300%;
	font-weight: normal;
	/*line-height: 50%;*/
	/*color: red;*/
}

input {
	width: 100%;
	font-size: 80%;
	color: #4f4f4f;
	border: none;
	text-overflow: ellipsis;
}

main {
	text-align: center;
}

section.notepad {
	display: inline-block;	
	width: 100%;
	max-width: 560px;
	vertical-align: top;
}

div.container {
	margin-top: -2px;
	display: inline-block;
	width: 100%;
	max-width: 560px;
	position: relative;
}

div.container textarea {
	padding: 20px;
	box-sizing: border-box;
	max-width: 560px;
	width: 100%;
	height: 80vh;
	resize: none;
	border: 2px solid #99958c;
	border-radius: 0  0 5px 5px;
}

main section.notepad div.container a {
	display: inline-block;
	left: 2px;
	top: 2px;
	position: absolute;
	text-decoration: none;
	font-size: 120%;
	color: #000000;
	padding-right: 5px;
	padding-left: 5px;
}

section.notepad div.container a:hover {
	color: #ff0000;
	font-weight: bold;
}

div.tab {
	position: relative;
	top: 3px;
	background: #ffffff;
	border: 2px solid #99958c;
	border-radius: 5px 5px 0 0;
	max-width: 560px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 6px 0 20px;
}

	div.first {
		border-color: #49423d;
	}

	div.second {
		border-color: #32cd32;
	}

	div.third {
		border-color: #b784a7;
	}

	div.fourth{
		border-color: #1476ff;
	}

.hidden {
	display: none;
}

footer p {
	text-align: center;
	font-size: 80%;
	margin-top: 15px;
}

footer p a {
	color: #4f4f4f;
	text-decoration: none;
}

footer p a:hover {
	color: #000000;
}

.maxi:before {
	content: "−";
}

.mini:before {
	content: "+";
}






